<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
   <Properties>
      <MetaInfo>
         <Name>Google Analytics</Name>
         <Description>Google Analytics</Description>
         <ToolVersion>1.0.0.0</ToolVersion>
         <CategoryName>Connector</CategoryName>
         <Author>Alteryx</Author>
         <Icon>Google Analytics\Google AnalyticsIcon.png</Icon>
      </MetaInfo>
   </Properties>
</AlteryxJavaScriptPlugin>
